.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    .slick-dots{
        display: flex;
        list-style-type: none;
        justify-content: center;
        button {
            font-size: 0;
            width: 50px;
            height: 10px;
            background-color: #fff; 
            &:hover {
                border-color: $main-color;
            }
        }
    }
}

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        &:hover {
            border: none;
        }
        img {
            max-width:20px;
            height: auto;
            

        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}